.form__container{
    margin: 6rem 4rem;
    color: #2a2a2a;
}

.form__container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form__container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a; 
}

.form__container textarea{
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a; 
}

.form__container button{
    display: inline;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    border: 3px double lightskyblue;
}

.form__container button:hover{
    padding: 13px;
    color: #fff;
    border: none;
    background: linear-gradient(45deg, lightblue, blue,steelblue);
    transition: button 0.5s ease-in-out;
}

 @media screen and (max-width:850px) {
    .form__container{
        margin: 6rem 2rem;
    }
    
    .form__container form{
        padding-top: 2rem;
        width: 90%;
    }
 }