.carousal__home{
    width: 100%;
    height: 100vh;
    position: relative;
}

.carousal{
    width: 100%; 
    height: 80vh;
    position: relative;
}

.carousal h1{
    padding-top: 4rem !important;
}
    
img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.carosal__text { 
    position: absolute;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width:100%;
}

.carosal__text h1{
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(lightblue, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.carosal__text p{
    font-size: 1.3rem;
    color: #fff;
    padding: 0.5rem 0 2rem 0;
}
    
.carosal__text .show {
    text-decoration: none;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
}

.carosal__text .show:hover {
    background-image: linear-gradient(45deg,lightblue, blue, steelblue);
    color: #fff;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.02s ease-in-out;
}

.carosal__text .hide{
    display: none;
}

@media screen and (max-width: 555px) {
    .carosal__text h1 {
        padding: 10px 20px;
    }
    
    .carosal__text p{
        font-size: 1.1rem; 
        padding: 0 0 2rem 0;
    }
    
    .carosal__text .show {
        padding: 0.6rem 1.1rem; 
        border-radius: 6px;
        font-size: 1rem;
        }
}